body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    align-items: center;
    height: 100vh;
}

.primary-color{
    color: orangered;
}

/* banner section */
.navbar{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.nav-banner{
    background-image: url("images/Banner-Image.png");
    height: 600px;
    width: 1320px;
    background-size: cover;
}

/* discount section */
.discount-content{
    display: flex;
    justify-content: center;
    height: 750px;
    margin-top: 40px;
}

.discount{
    width: 700px;
    text-align: center;
}

.discount-img{
    background-image: url("images/New-Year-Photo.png");
    background-size: contain;
    height: 500px;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat ;
}

.discount-quntity{
    font-weight: bold;
    font-size: 50px;
}


