body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    align-items: center;
    height: 100vh;
}

.primary-color{
    color: orangered;
}

/* banner section */
.navbar{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.nav-banner{
    background-image: url("images/Banner-Image.png");
    height: 600px;
    width: 1320px;
    background-size: cover;
}

/* discount section */
.discount-content{
    display: flex;
    justify-content: center;
    height: 750px;
    margin-top: 40px;
}

.discount{
    width: 700px;
    text-align: center;
}

.discount-img{
    background-image: url("images/New-Year-Photo.png");
    background-size: contain;
    height: 500px;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat ;
}

.discount-quntity{
    font-weight: bold;
    font-size: 50px;
}

/* welcome section */
.welcome{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.welcome-image{
    background-image: url("images/Vectorrr.png");
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.wel-message{
    width: 700px;
}

.wel-message-1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.wel-message-2{
    color: rgba(255, 255, 255, 0.73);
    font-size: 1rem;
}

.wel-button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
}

.wel-year-img{
    background-image: url("images/Group-70.png");
    width: 320px;
    height: 460px;
}

