body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    align-items: center;
    height: 100vh;
}

.primary-color{
    color: orangered;
}

/* banner section */
.navbar{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.nav-banner{
    background-image: url("images/Banner-Image.png");
    height: 600px;
    width: 1320px;
    background-size: cover;
}

/* discount section */
.discount-content{
    display: flex;
    justify-content: center;
    height: 750px;
    margin-top: 40px;
}

.discount{
    width: 700px;
    text-align: center;
}

.discount-img{
    background-image: url("images/New-Year-Photo.png");
    background-size: contain;
    height: 500px;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat ;
}

.discount-quntity{
    font-weight: bold;
    font-size: 50px;
}

/* welcome section */
.welcome{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.welcome-image{
    background-image: url("images/Vectorrr.png");
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.wel-message{
    width: 700px;
}

.wel-message-1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.wel-message-2{
    color: rgba(255, 255, 255, 0.73);
    font-size: 1rem;
}

.wel-button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
}

.wel-year-img{
    background-image: url("images/Group-70.png");
    width: 320px;
    height: 460px;
}

/* product section */
.product{
    
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}

.pro-message{
    
    width: 1320px;
    height: 1160px;
}

.pro-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box{
    height: 450px;
    width: 420px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.pro-img{
    height: 455px;
    width: 425px;
    background-repeat: no-repeat;
}

/* subscribe section */
.subscribe{
    
    height: 500px;
    display: flex;
    justify-content: center;
}

.sub-letter{
    
    width: 1320px;
    border-radius: 10px;
    background-color: rgb(245, 229, 232);
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-body{
    text-align: center;
    width: 880px;
    height: 360px;
    
}

.letter-img{ 
    display: flex;
    justify-content: center;
}

.img{
    background-image: url("images/Group-61.png");
    width: 150px;
    height: 150px;
}

.letter-header{
    margin: 0;
    font-weight: bold;
    font-size: 40px;
}

.letter-mssg{
    color: rgb(79, 77, 77);
    font-size: .88rem;
}

.letter-search{
  
    display: flex;
    justify-content: center;
}

.search-input{
    height: 45px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.input-search{
    width: 100%;
    border: 0;
    font-size: 0.85rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.input-button{
    width: 250px;
    background-color: orangered;
    border: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    font-size: 1rem;
}